body > table {
}

body > table td {
  vertical-align: top;
}
/* селектор потомков */
table button {
  width: 50px;
  background: -moz-linear-gradient(#d0ecf4, #5bc9e1, #d0ecf4);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d0ecf4),
    to(#d0ecf4),
    color-stop(0.5, #5bc9e1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  border-radius: 5px;
  padding: 5px 12px;
}

/* селектор, связанный с y */

/* селектор атрибутов */
label[for="y"] {
  display: inline-block;
  margin-top: 10px;
  font-family: Roboto sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

/* селектор атрибутов */
table[title="enter a value y"] {
}

/* // ------------------------- */

/* селекторы, связанный с x */

/* селектор дочерних элементов */
div > label {
  display: inline-block;
  font-family: Roboto sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

#parameters {
  padding: 40px;
  width: 175px;
}

/* id селектор */
#x {
  background: -moz-linear-gradient(#d0ecf4, #5bc9e1, #d0ecf4);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d0ecf4),
    to(#d0ecf4),
    color-stop(0.5, #5bc9e1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
  width: 138px;
}

/* // --------------------------- */

/* селекторы, связанные с r */

/* селектор атрибутов */
label[for="r"] {
  display: inline-block;
  margin-top: 10px;
  font-family: Roboto sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

/* селектор атрибутов */
table[title="enter a value r"] {
}

/* // ------------------------- */

/* селектор дочерних элементов */
td > canvas {
  display: flex;
}

/* селектор классов */
.actionButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(#d0ecf4, #5bc9e1, #d0ecf4);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d0ecf4),
    to(#d0ecf4),
    color-stop(0.5, #5bc9e1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  border-radius: 5px;
  padding: 5px 12px;
  width: 160px;
  margin-top: 10px;
}

body {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

#results {
  padding: 1%;
  margin-left: 100px;
  border-collapse: collapse;
  background-color: #ffffffCC;
}

#results th {
  border: solid 1px black;
  width: 82px;
  height: 50px;
}

#results td {
  border: solid 1px black;
  text-align: center;
}

.active {
  border: green 3px solid;
}

:root {
  font-size: 14px;
}

/* анимация для шапки */

header {
  font-family: sans-serif;
  color: #393949;
  background-color: var(--secondary-background-color);
  overflow: hidden;
}

header:hover h2::after {
  color: var(--secondary-text-color);
}

header h2::after {
  color: transparent;
  content: " | ITMO, Saint-Petersburg 2022";
  transition-property: color;
  transition-duration: 0.5s;
}

header:hover h1, header:hover h2 {
  transform: translateX(50px)
}

header h1 {
  font-size: 40px;
  color: var(--primary-text-color);
  transition-property: transform;
  transition-duration: 0.5s;
}

header h2 {
  font-size: 35px;
  color: var(--secondary-text-color);
  transition-duration: 0.3s;
}

.bordered {
  border: 1px solid #555;
  border-radius: 8px;
  box-shadow: 0 10px 10px #0003;
}

.canvasContainer{
  min-height: 466px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 20px;
}
/* ----------------------------------------- */
