body > table {
  width: 80%;
}

/* селектор потомков */
table button {
  width: 50px;
  background: -moz-linear-gradient(#d0ecf4, #5bc9e1, #d0ecf4);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d0ecf4),
    to(#d0ecf4),
    color-stop(0.5, #5bc9e1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  border-radius: 5px;
  padding: 5px 12px;
}

/* селектор, связанный с y */

/* селектор атрибутов */
label[for="y"] {
  display: inline-block;
  margin-top: 10px;
  font-family: Roboto sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

/* селектор атрибутов */
table[title="enter a value y"] {
}

/* // ------------------------- */

/* селекторы, связанный с x */

/* селектор дочерних элементов */
div > label {
  display: inline-block;
  font-family: Roboto sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

#parameters {
  margin-left: 20%;
  margin-right: 20%;
}

/* id селектор */
#x {
  width: 120%;
  background: -moz-linear-gradient(#d0ecf4, #5bc9e1, #d0ecf4);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d0ecf4),
    to(#d0ecf4),
    color-stop(0.5, #5bc9e1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  border: 2px solid;
  border-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10%;
  padding-top: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
  padding-left: 1%;
  padding: 4%;
  width: 150px;
}

/* // --------------------------- */

/* селекторы, связанные с r */

/* селектор атрибутов */
label[for="r"] {
  display: inline-block;
  margin-top: 10px;
  font-family: Roboto sans-serif;
  font-size: 22px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.75);
}

/* селектор атрибутов */
table[title="enter a value r"] {
  margin-top: 9%;
}

/* // ------------------------- */

/* селектор дочерних элементов */
td > canvas {
  display: flex;
}

/* селектор классов */
.checkPointButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background: -moz-linear-gradient(#d0ecf4, #5bc9e1, #d0ecf4);
  background: -webkit-gradient(
    linear,
    0 0,
    0 100%,
    from(#d0ecf4),
    to(#d0ecf4),
    color-stop(0.5, #5bc9e1)
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00BBD6', endColorstr='#EBFFFF');
  border-radius: 5px;
  padding: 5px 12px;
  width: 160px;
  margin-top: 10px;
}

body {
  background: coral;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

canvas#graph {
  margin-left: 20%;
}

#results {
  padding: 1%;
  border-collapse: collapse;
}

#results th {
  border: solid 1px black;
  width: 82px;
  height: 50px;
}

#results td {
  border: solid 1px black;
  text-align: center;
}
